name: smalltalkCI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-20
    strategy:
      fail-fast: false
      matrix:
        smalltalk: [ Pharo64-11, Pharo64-10, Pharo64-9.0, Pharo64-8.0, Pharo64-7.0, GemStone64-3.7.0, GemStone64-3.6.6, GemStone64-3.5.7 ]
        experimental: [ false ]
        include:
          - smalltalk: Pharo64-12
            experimental: true
          # - smalltalk: Squeak64-5.3
          #   experimental: true
          # - smalltalk: Squeak-5.2
          #   experimental: true
          # - smalltalk: Squeak-5.1
          #   experimental: true
    continue-on-error: ${{ matrix.experimental }}
    name: ${{ matrix.smalltalk }}
    steps:
      - uses: actions/checkout@v4
      - uses: hpi-swa/setup-smalltalkCI@v1
        with:
          smalltalk-image: ${{ matrix.smalltalk }}
      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3
      - name: Install Chrome
        run: |
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" | sudo tee /etc/apt/sources.list.d/google-chrome.list
          sudo apt-get update
          sudo apt-get -y install google-chrome-stable
      - name: Install selenium
        run: npm install selenium-standalone && npx selenium-standalone install && npx selenium-standalone start &
      - name: Run tests
        run: smalltalkci -s ${{ matrix.smalltalk }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        timeout-minutes: 20
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Screenshots Test Failures ${{ matrix.smalltalk }}
          path: ${{ env.SMALLTALK_CI_BUILD }}/*.png
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          name: ${{ matrix.smalltalk }}
